MigCA_Simul/example/
MigCA_Simul/outputs/

MigCA_RegsOtherCountries/data/input/
MigCA_RegsOtherCountries/data/output/
MigCA_RegsOtherCountries/data/temp/
MigCA_RegsOtherCountries/analysis/temp/
MigCA_RegsOtherCountries/analysis/output/
